*{
    margin: 0;
    padding: 0
}
/*background-color: helps organize and change the color of my pages background
th ebody section lets the sitem know where to place it in the HTML*/
body{
    background-color: rgba(150, 108, 182, 0.359);

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a{
    text-decoration: none;
    
}
/*the period is conected to class and the # are concected to the id */

.hero{
    
    background-image: url(./images/download\ \(1\).jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    

}

.nav{
    color: rgb(98, 82, 95);
    border-style:outset
    
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.about-content{
    display: flex;
     margin: 20px;
}

#content-header{
    border-style:dashed;
    text-align: center;
    color: rgba(98, 82, 95, 0.681);
}

#profilepic{
    float: left;
    margin-right: 30px;
}
#list-about-me{
    width: 200px;
    margin-left: 30px;
}
#paragraph{
    width: 50%;
}

.Projects{
    display: flex;
}

.project-project1{
    width:fit-content;
    font-size: 3em;
    border-style: ridge;
    border-width: 5px;
    background-color: rgba(243, 197, 235, 0.695);
    padding: 5px 5px;
}

.project-project2{
    width:fit-content;
    font-size: 3em;
    border-style:ridge;
    border-width: 5px;
    background-color: rgba(243, 197, 235, 0.695);
    padding: 5px 5px;
}

.project-project3{
    width: fit-content;
    font-size: 3em;
    border-style:ridge;
    border-width: 5px;
    background-color: rgba(243, 197, 235, 0.695);
    padding: 5px 5px;
}