*{
    margin: 0;
    padding: 0
}
/*background-color: helps organize and change the color of my pages background
th ebody section lets the sitem know where to place it in the HTML*/
body{
    background-color: rgb(222, 230, 233);

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a{
    text-decoration: none;
    
}

.hero{
    
    background-image: url(./images/download\ \(1\).jpg);
    height: 200px;
    background-size: cover;
    background-position: center;

}

